<div class="hero-wrap" style="height: 65%;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-start">
      <div class="col-lg-6 col-md-6 ftco-animate">
        <h1 class="mb-4"> {{ eventData[0].title }}
          <br><span>{{ eventData[0].eventDescription }}</span></h1>
        <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
            class="icon-calendar mr-2"></span>{{ eventData[0].startDate | date:'EEE MMM dd yyyy hh:mm a' }} &nbsp;<b>To</b>&nbsp;  {{ eventData[0].endDate | date:'EEE MMM dd yyyy hh:mm a' }}</p>
        <div id="timer" class="d-flex">
          <div class="time" id="days"></div>
          <div class="time pl-3" id="hours"></div>
          <div class="time pl-3" id="minutes"></div>
          <div class="time pl-3" id="seconds"></div>
        </div>
        <iframe id="gmap_canvas"
          src="https://maps.google.com/maps?q=BKC Bandra east mumbai&t=&z=15&ie=UTF8&iwloc=&output=embed"
          frameborder="0" scrolling="no" width="500px" height="300px"></iframe>
      </div>
      <div class="col-lg-2 col"></div>
      <div class="col-lg-4 col-md-6 mt-0 mt-md-5">
        <form [formGroup]="profileForm" class="request-form ftco-animate">
          <h2>Join Event</h2>
          <div class="form-group">
            <input type="text" class="form-control" data-toggle="tooltip" title="Enter your Full Name"
              data-placement="bottom" formControlName="Name" placeholder="Enter your Full Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" data-toggle="tooltip" title="Enter your EmailId"
              data-placement="bottom" formControlName="EmailId" placeholder="Enter your Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" data-toggle="tooltip" title="Enter your MobileNumber"
              data-placement="bottom" formControlName="MobileNumber" placeholder="Enter your Phone">
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <select formControlName="documentIdType" data-toggle="tooltip" title="Select Document type"
                  data-placement="bottom" class="form-control">
                  <option value="default">-- Select a Id Proof --</option>
                  <option value="PANCARD">Pancard.</option>
                  <option value="ADHAR">Adhar</option>
                  <option value="DL">Driving License</option>
                </select>
              </div>
              <div class="col-6">
                <input type="text" class="form-control" data-toggle="tooltip" title="Enter document idnumber"
                  data-placement="bottom" formControlName="idnumber" placeholder="Id number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <!-- <input type="button" class="form-control" data-toggle="tooltip" title="Enter document idnumber"
              data-placement="bottom" value="Seats" placeholder="Id number"> -->
              <label class="form-control">Seats</label>
            </div>
            <div class="col-6" data-toggle="tooltip" title="Add number of seats" data-placement="bottom">
              <div class="number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                <input class="quantity" id="myInput" formControlName="Quantity" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
              </div>
            </div>
          </div>
          <hr>
          <button type="submit" style="text-align: center;" *ngIf="display" (click)="downloadImage()"
            class="btn gradient-bg">Download E-Ticket</button>
          <!-- <div class="form-group">
            <div class="checkbox">
              <label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and
                conditions</label>
            </div>
          </div> -->
          <div class="form-group">
            <input type="submit" data-toggle="tooltip" title="Click to book event ticket" data-placement="bottom"
              (click)="generateQRCode()" [disabled]="!profileForm.valid" value="Book now"
              class="btn btn-primary py-3 px-4">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section services-section bg-primary">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-placeholder"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Venue</h3>
            <p> {{ eventData[0].address }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
