<div class="hero-wrap" style="background-image: url('../../../assets/images/header-bg.jpg');color:#fff;">
 <div class="jumbotron text-center">
    <div class="row">
        <div class="col">
            <tweet></tweet>
        </div>
        <div class="col">
            <pin-it></pin-it>
        </div>
        <div class="col">
            <google-plus></google-plus>
        </div>
        <div class="col">
            <fb-like></fb-like>
        </div>
        <div class="col">
            <linkedin-share></linkedin-share>
        </div>
    </div>
</div>
<!--- For this example I am using button, but you can attach the directive to anything you want
   and it will display the popup for share! :D
-->
<button ceiboShare  [facebook]="{u: repoUrl}">Facebook</button>
<button ceiboShare  [linkedIn]="{url:repoUrl}">Linkedin</button>
<button ceiboShare  [googlePlus]="{url:repoUrl}">Google Plus</button>
<button ceiboShare  [twitter]="{url:repoUrl, text:'Checkout this awesome ng2 social share directive', hashtags:'angular2, social, ceiboIT'}">Twitter</button>
<button ceiboShare [pinterest]="{url:repoUrl, media: imageUrl, description:'Checkout this awesome angular2 directive'}">Pinterest</button>


  

  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-start">
      <div class="col-lg-6 col-md-6 ftco-animate">
        <h1 class="mb-4"> {{ eventData[0].title }}
          <br><span>{{ eventData[0].eventDescription }}</span></h1>
        <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
            class="icon-calendar mr-2"></span>{{ eventData[0].startDate | date:'EEE MMM dd yyyy hh:mm a' }} &nbsp;<b> -
          </b>&nbsp; {{ eventData[0].endDate | date:'EEE MMM dd yyyy hh:mm a' }}</p>
        <div id="timer" class="d-flex">
          <div class="time" id="days"></div>
          <div class="time pl-3" id="hours"></div>
          <div class="time pl-3" id="minutes"></div>
          <div class="time pl-3" id="seconds"></div>
        </div>  
      </div>
      <div class="col-lg-2 col"></div>
      <div class="col-lg-4 col-md-6 mt-0 mt-md-5">
        <form [formGroup]="profileForm" class="request-form ftco-animate fadeInUp ftco-animated">
          <h2>Join Event</h2>
          <div class="form-group">
            <input type="text" class="form-control" data-toggle="tooltip" title="Enter your Full Name"
              data-placement="bottom" formControlName="Name" placeholder="Enter your Full Name">
            <div *ngIf="submitted && f.Name.errors" class="alert-light">
              <div *ngIf="f.Name.errors.required">Name is required</div>
              <div *ngIf="f.Name.errors.email">Name must be a valid</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" data-toggle="tooltip" title="Enter your EmailId"
              data-placement="bottom" formControlName="EmailId" placeholder="Enter your Email">
            <div *ngIf="submitted && f.EmailId.errors" class="alert-light">
              <div *ngIf="f.EmailId.errors.required">EmailId is required</div>
              <div *ngIf="f.EmailId.errors.email">EmailId must be a valid</div>
            </div>
          </div>
          <div class="form-group">
            <input id="tel" data-toggle="tooltip" title="Enter Contact Person Number !"
              placeholder="Enter Contact Person Number!" data-placement="bottom" class="form-control" phoneMask
              [preValue]="profileForm.value.MobileNumber" [phoneControl]="profileForm.controls['MobileNumber']"
              formControlName="MobileNumber" maxlength="14"
              [ngClass]="(profileForm.controls['MobileNumber'].invalid)? 'errmsg' : 'validmsg'">
            <div *ngIf="submitted && f.MobileNumber.errors" class="alert-light">
              <div *ngIf="f.MobileNumber.errors.required">Mobile Number must be a valid</div>
              <div *ngIf="f.MobileNumber.errors.number">Mobile Number must be a valid</div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <select formControlName="documentIdType" data-toggle="tooltip" title="Select Document type"
                  data-placement="bottom" class="form-control">
                  <option selected value="0">Select KYC Proof</option>
                  <option value="PANCARD">Pancard</option>
                  <option value="ADHAAR">Adhar</option>
                  <option value="DL">Driving License</option>
                </select>
              </div>
              <div class="col-6">
                <input type="text" class="form-control" data-toggle="tooltip" title="Enter document number"
                  data-placement="bottom" formControlName="idnumber" placeholder="Id number">
                <div *ngIf="submitted && f.idnumber.errors" class="alert-light">
                  <div *ngIf="f.idnumber.errors.required">KYC Number is required</div>
                  <div *ngIf="f.idnumber.errors.text">KYC Number must be a valid</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-6 text-right align-items-center">
                <span>Seats: </span>
              </div>
              <div class="col-6" data-toggle="tooltip" title="Add number of seats" data-placement="bottom">
                <div class="number-input">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                    class="minus"></button>
                  <input class="quantity" id="myInput" formControlName="Quantity" type="number">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group" style="text-align: center;">
            <input type="submit" data-toggle="tooltip" title="Click to book event ticket" data-placement="bottom"
              (click)="generateQRCode()" value="Book now" class="btn btn-primary py-3 px-4">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section services-section bg-primary">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon">
            <span class="flaticon-placeholder"></span>
          </div>
          <div class="media-body" style="color:#fff;">
            <h3 class="heading mb-3">Venue</h3>
            <p> {{ eventData[0].address }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="container"  style="margin-top: 20px;margin-bottom: 20px;">
  <div id="ad" style="width:100%;height:90px;">
    <iframe src="http://matthewjamestaylor.com/responsive-ads/ad.html" border="0" scrolling="no"
      allowtransparency="true" width="100%" height="100%" style="border:0;">
    </iframe>
  </div>
</div>

<section class="pb100" style="margin-top: 20px;">
  <div class="container">
    <div class="table-responsive">
      <table class="event_calender table">
        <thead class="event_title">
          <tr>
            <th colspan="5">
              <i class="ion-ios-calendar-outline"></i>
              <span>next events calendar</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of alleventData">
            <td>
              <img src="../../../assets/images/newsletter-bg.jpg" alt="event">
            </td>
            <td class="event_date">
              {{ event.startDate | date:'dd' }}
              <span> {{ event.startDate | date:'MMMM yyyy' }}</span>
            </td>
            <td>
              <div class="event_place">
                <h5>{{ event.title }}
                  <span>
                    {{ event.eventDescription }}
                  </span>
                </h5>
                <h6>{{ event.startDate | date:'EEE MMM dd yyyy hh:mm a' }} &nbsp;<b> -
                  </b>&nbsp; {{ event.endDate | date:'EEE MMM dd yyyy hh:mm a' }}</h6>
                <p>{{ event.address }}</p>
              </div>
            </td>
            <td>
              <a (click)="registerForEvent(event)" class="btn btn-primary btn-rounded">Book Ticket</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
