<header class="site-header">
    <div class="header-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-10 col-lg-2 order-lg-1">
                    <div class="site-branding">
                        <div class="site-title">
                            <a href="">
                                <!-- <img src="../../../assets/images/py.png" alt="logo"> -->
                                &nbsp;&nbsp;
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2 col-lg-7 order-3 order-lg-2">
                    <nav class="site-navigation">
                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <ul>
                            <!-- <li><a routerLink="home">Home</a></li>
                            <li><a routerLink="about">About us</a></li>
                            <li><a routerLink="events"></a></li>
                            <li><a routerLink="contact">Contact us</a></li> -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

